---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import Window from '../components/Window.astro';
---

<GlobalLayout pageTitle="ABOUT">

	<div id="aboutcontent-wrapper">
	<Window title="ABOUT ME">
		My name is Brandon Bennett. I'm currently aiming at returning to the University of Virginia in the Fall of 2024 to complete a double major in Mathematics and Computer Science.

        <p>
            My main academic interests include the obvious Math and Computer Science, but I also enjoy self-studying topics in Physics and Chemistry. Over the past two or three years,
            I have found an especial appreciation for Organic Chemistry which I have been self-studying by attending study sessions with peers of my at UVA who are taking Organic Chemistry classes,
            as well as reading out of Clayden's <em>Organic Chemistry</em>.
        </p>

        <p>
            Beyond that, I have also been largely interested in Literature and Philosophy since High School, where I was introduced to both in some of the classes I needed to take to
            acquire my International Baccalaureate degree. I read a decent amount of fiction and philosophy-related texts (but not as much as I'd like to, as of late!). I enjoy writing
            in my free time, and I've had two short pieces of fiction published--one in the George Mason University's undergraduate literary magazine, <em>Volition</em>, from my time at that institution,
            as well as another in the online publication <em>&ampamp</em>.
        </p>

        <p>
            I was originally studying purely Computer Science at George Mason University, but I transitioned to studying both Computer Science and Mathematics after discovering a passion for 
            Mathematics as a pure discipline from some elective classes at GMU, an interest which was further solidified when I had the opportunity to participate in the Putnam Competition as a 
            student at GMU.
        </p>

        <p>
            Currently, I spend most of my productive free time by studying Mathematics and working on Computer Science projects (such as this website!). Mathematically speaking, I'm currently 
            split between working through Patrick Suppes' <em>Axiomatic Set Theory</em>, Chung's <em>Elementary Probability Theory with Stochastic Processes</em>, and Apostol's two-volume set <em>Calculus</em>.
        </p>
	</Window>
	</div>

</GlobalLayout>

<style>
	#aboutcontent-wrapper{
		margin-left: 25%;
		margin-right: 25%;
	}

    @media (max-width: 800px) {
        #aboutcontent-wrapper{
            margin-left: 5%;
			margin-right: 5%;
        }
    }
</style>