---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import Window from '../components/Window.astro';
---

<GlobalLayout pageTitle="CONTACT">

	<div id="contactcontent-wrapper">
	<Window title="CONTACT">
		<b>STUDENT EMAIL:</b> bjb6njm@virginia.edu
	</Window>
	</div>

</GlobalLayout>

<style>
	#contactcontent-wrapper{
		margin-left: 25%;
		margin-right: 25%;
	}
</style>