---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import Window from '../components/Window.astro';
import WindowLink from '../components/WindowLink.astro'

const blogPosts = await Astro.glob('../pages/weblogs/*.md');
---

<GlobalLayout pageTitle="HOME">

	<div id="indexcontent-wrapper">
	<Window title="WELCOME!">
		Hello! Welcome to my website.

		<p>
			My name is Brandon Bennett, and I'm currently a student studying Mathematics and Computer Science at the University of Virginia.
			I made this website with the <a href="https://astro.build">Astro framework</a> to practice web design fundamentals, and to have a place where I can showcase my work.
		</p>

		Please feel free to browse the links in the navigation bar to check out what I've been up to, or see below for some of my recent Web Log entries.
	</Window>

	<br>

	<Window title="RECENT WEB LOGS">
		{blogPosts.reverse().slice(0,2).map((post) =>
            <WindowLink title={post.frontmatter.title + " [" + post.frontmatter.date + "]"} link={post.url}>
            {post.frontmatter.description}
            </WindowLink>
        )}
	</Window>
	</div>

</GlobalLayout>

<style>
	#indexcontent-wrapper{
		margin-left: 25%;
		margin-right: 25%;
	}

	@media (max-width: 800px) {
            #indexcontent-wrapper{
                margin-left: 5%;
				margin-right: 5%;
            }
    }
</style>