---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import Window from '../components/Window.astro';
---

<GlobalLayout pageTitle="PROJECTS">

	<div id="projectcontent-wrapper">
	<Window title="PROJECTS">
		None yet! Stay up to date by monitoring my GitHub page.
	</Window>
	</div>

</GlobalLayout>

<style>
	#projectcontent-wrapper{
		margin-left: 25%;
		margin-right: 25%;
	}
</style>