---
const { title } = Astro.props;
---
<div class="window">
    <div class="window-title">
        <em>>{title}</em>
    </div>

    <div class="window-content">
        <slot/>
    </div>
</div>

<style>
    .window {
        outline-style: solid;
        outline-width: 1px;
        width: fit-content;
    }

    .window-title{
        background-color: white;
        color: black;
        font-size: 1.2em;
    }

    .window-content{
        font-size: 1.3em;
        padding: 1%;
    }
</style>