---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';

const { pageTitle } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <div id="container">
            <div id="navbar-wrapper">
                <Navbar/>
            </div>
            <br>
            <slot/>
	</body>
</html>

<style>
        #navbar-wrapper{
            float: left;
            width: 15%;
        }

        @media (max-width: 800px) {
            #navbar-wrapper{
                float: none;
                margin-left: 25%;
		        margin-right: 25%;
            }
        }
</style>