---
import GlobalLayout from './GlobalLayout.astro';
import Window from '../components/Window.astro';

const { frontmatter } = Astro.props;
---

<GlobalLayout pageTitle={frontmatter.title}>
    <div id="postcontent-wrapper">
        <Window title={frontmatter.title + " [" + frontmatter.date + "]"}>
            <slot/>
        </Window>
    </div>
</GlobalLayout>

<style>
	#postcontent-wrapper{
		margin-left: 25%;
		margin-right: 25%;
	}
</style>

